$lightGray :#E1E6ED;
$violet    :#192B3F;
$blueshGray:#8A94A6;
$sandy     :#C9B8A8;
$white     :#FFFFFF;
$blue      : #3D5876;
$hover     : #2E4055;
$active    : #3B536D;
$olive     :#515611;
$lime      :#00ff00;

