@mixin font {
  font-size  : 10px;
  line-height: 12px;

  @media (min-width: 500px) {
    font-size  : 14px;
    line-height: 16px;
  }

  @media (min-width: 1024px) {
    font-size  : 16px;
    line-height: 24px;
  }

  @media (min-width:1920px) {
    font-size  : 20px;
    line-height: 32px;
  }
}

@mixin transition {
  transition: all .4s ease-in-out
}

@mixin center() {
  position    : absolute;
  top         : 50%;
  left        : 50%;
  margin-right: -50%;
  transform   : translate(-50%, -50%);
}

@mixin text($font-size, $line-height, $font-weight) {
  font-size  : $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin h3() {
  text-transform: uppercase;
  font-size     : 16px;
  line-height   : 24px;
  font-weight   : 700;
  color         : $blueshGray;
}

@mixin colors($background-color) {
  cursor          : pointer;
  display         : block;
  appearance      : none;
  width           : 40px;
  height          : 40px;
  border-radius   : 100%;
  background-color: $background-color;
  @include transition;

  &:checked {
    box-shadow:
      0 0 0 3px #ffffff,
      0 0 0 4px $background-color;
    @include transition;
  }

  @media (min-width: 1024px) {
    &:hover:not(:focus-visible) {
      box-shadow:
        0 0 0 3px #ffffff,
        0 0 0 4px $background-color;
      @include transition;
    }
  }

  @media (min-width:1360px) {
    width : 26px;
    height: 26px;
  }
}

@mixin button-blue {
  padding         : 11px 0px;
  width           : 100%;
  background-color: $violet;
  @include text(24px, 32px, 500);
  color: $white;
  @include transition;

  &:active:not(:focus-visible) {
    background-color: $active;
    @include transition;
  }

  @media (min-width: 1024px) {
    &:hover:not(:focus-visible) {
      background-color: $hover;
      @include transition;
    }
  }

  @media (min-width: 1360px) {
    width: 89.5%;
  }
}